header {
    position: relative;
    z-index: 100000;
}

p {
    font-size: 1.15rem;
}

.navbar {
    background: transparent !important;
    transition: 0.5s;
}

.navbar.scrolled {
    background: #000 !important;
    transition: 0.5s;
}

.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
    color: #000;
    background: #fff;
}

.navbar-light .navbar-nav .active >.nav-link:hover {
    color: #000;
}

.navbar-light .navbar-nav .nav-link {
    color: rgba(255,255,255,.8);
}

.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link:focus
{
    color: rgba(255,255,255,1);
}

.navbar-light .navbar-brand,
.navbar-light .navbar-brand:hover,
.navbar-light .navbar-brand:focus,
.navbar-light .navbar-brand:visited
{
    color: rgba(255,255,255,1);
    font-size: 2.5rem;
    font-weight: 600;
}

.banner {
    position: relative;
    top: 0;
    width: 100%;
    height: 100vh;
    background-size: cover !important;
    background-repeat: no-repeat;
    background: url(../images/banner.jpg);
    margin-bottom: 0;
}

.main {
    position: relative;
    top: 0;
    width: 100%;
    height: 20vh;
    margin-bottom: 0;
}

.banner::before,
.sec2::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 700px;
    background: linear-gradient(#000, transparent);
    pointer-events: none;
}

.main::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background: linear-gradient(#000, transparent);
    pointer-events: none;
}

.contact::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 700px;
    background: linear-gradient(#777, transparent);
    pointer-events: none;
}

.banner::after,
.sec2::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 700px;
    background: linear-gradient(360deg, #000, transparent);
    pointer-events: none;
}

/* .contact::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 700px;
    background: linear-gradient(360deg, #000, transparent);
    pointer-events: none;
} */

.height100p {
    height: 100vh;
}

.h100 {
    height: 100%;
}

.contentBox {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 100px;
    text-align: center;
    z-index: 10;
}

.jumbotron .contentBox {
    color: #fff;
}

.sec2 .contentBox {
    color: #fff;
}

.contentBox h1 {
    font-weight: 800;
    text-transform: uppercase;
    word-spacing: 15px;
    font-size: 3.5rem;
}

.contentBox p {
    font-weight: 600;
    font-size: 2rem;
}

.swiper-container {
    width: 100%;
    height: 500px;
  }

.swiper-slide {
    height: 100%;
    text-align: center;
    font-size: 18px;
    background: #fff;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    flex-direction: column;
}

.swiper-slide a {
    height: 80%;
}

.swiper-slide a img {
    width: 100%;
    min-height: 100%;
    object-fit: cover;
}

.sec1 {
    padding: 100px 0;
}

.headerText {
    text-align: center;
}

.headerText h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.sec2 {
    position: relative;
    background: url(../images/banner2.jpg);
    background-size: cover;
    height: 100vh;
}

.sec2 h2 {
    font-weight: 800;
    color: #fff;
    text-transform: uppercase;
    font-size: 3.5rem;
}

.sec2 p {
    font-weight: 600;
    font-size: 2rem;
}

.btnD1 {
    border: 2px solid #fff;
    color: #000;
    background: #fff;
    border-radius: 50px;
    padding: 15px 50px;
    font-size: 1.15rem;
    outline: none;
    font-weight: 500;
    margin-top: 20px;
}

.sec3 {
    padding: 100px 0;
    background: #fff;
}

.cardPost {
    position: relative;
    max-width: 500px;
    height: 400px;
    margin: 0 auto;
    background: #fff;
    margin-top: 30px;
}

.cardPost .imgBx {
    width: 100%;
    height: 100%;
}

.cardPost .imgBx img {
    object-fit: cover;
    width: 100%;
    height: 100%;   
}

.cardPost .content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; 
    display: flex;
    justify-content: baseline;
    align-items: flex-end;
}

.cardPost .content h3 {
    position: relative;
    margin: 0;
    padding: 10px;
    background: rgba(0,0,0,0.7);
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    width: 100%;
    text-align: center;
}

.cardPost .content h3 span {
    font-size: 16px;
    font-weight: 500;
}

.headerText2 {
    color: #000;
}

.headerText2 h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.contact {
    position: relative;
    padding: 100px 0;
    background: url(../images/banner3.jpg);    
    background-size: cover;
    min-height: 100vh;
}

.contact form {
    position: relative;
    z-index: 1000;
}

.contact .form-control {
    background: transparent;
    outline: none;
    border: none;
    border-bottom: 2px solid rgba(255,255,255,0.2);
    height: 50px;
    border-radius: 0;
    background: rgba(0,0,0,0.5);
    color: #fff;
    font-size: 1.25rem;
}

.contact .form-control:focus,
.contact .form-control:hover,
.textarea:focus,
.textarea:hover {
    border: none;
    outline: none;
    border-bottom: 2px solid rgba(255,255,255,1);
    box-shadow: none;
}

.contact .textarea {
    min-height: 200px;
}

.contact label {
    color: #000;
    font-size: 1.25rem;
}

.btnD2,
.btnD2:hover {
    background: #262626;
    color: #fff;
    border-radius: 50px;
    padding: 15px 50px;
    font-size: 1.15rem;
    outline: none;
    font-weight: 500;
    margin-top: 20px;
}


footer {
    background: #000;
    padding: 50px 0 0;
}

.sci {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sci li {
    list-style: none;
    margin: 0 20px;
}

.sci li a {
    color: #777;
    font-size: 2em;
    transition: 0.5s;
}

.sci li a:hover {
    color: #fff;
}

.cpryte {
    color: #777;
    text-align: center;
    margin-top: 20px;
}

.cpryte a,
.cpryte a:hover {
    color: #fff;
}

@media (min-width: 992px) {
    .navbar-expand-lg .navbar-light .nav-link {
        padding-left: 1rem;
        padding-right: 1rem;
    }
}

@media (max-width: 1200px) {
    .navbar-light .navbar-toggler {
        background: #fff;
        border-radius: 0;
    }
    .banner {
        min-height: 100vh;
        padding: 100px 0;
    }
    .contentBox {
        padding-bottom: 50px;
    }
    .contentBox h1,
    .sec2 h2 {
        font-size: 2rem;
    }
    .contentBox p,
    .sec2 p {
        font-size: 1.5rem;
    }
}

@media (max-width: 992px) {
    .navbar-light .navbar-toggler {
        background: #fff;
        border-radius: 0;
    }
    .banner {
        min-height: 100vh;
        padding: 100px 0;
    }
    .contentBox {
        padding-bottom: 10px;
    }
    .contentBox h1,
    .sec2 h2 {
        font-size: 1.5rem;
    }
    .contentBox p,
    .sec2 p {
        font-size: 1rem;
    }
    .contact .form-control,
    .contact .textarea {
        height: 40px;
        border: 1px solid #fff;
    }
    .navbar-expand-lg .navbar-light .nav-link {
        padding-left: 1rem;
        padding-right: 1rem;
    }
}

